/var/log/nginx/*.log {
    daily
    missingok
    rotate {{ log_rotate }}
    compress
    delaycompress
    notifempty
    create 640 nginx adm
    dateext
    sharedscripts
    postrotate
        if [ -f /var/run/nginx.pid ]; then
            kill -USR1 `cat /var/run/nginx.pid`
        fi
    endscript
}
